<div id="<%= dom_id store %>">
  <p>
    <strong>Name:</strong>
    <%= store.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= store.price %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= store.link %>
  </p>

  <p>
    <strong>Fee:</strong>
    <%= store.fee %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= store.product_id %>
  </p>

</div>
